/* Site Colors:
  #1A446C - blue grey
  #689DC1 - liight blue
  #D4E6F4 - very lght blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

*{
  font-family: monospace;
}

html
{
  height: 100%; width: 100%; 
}

body
{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: #FFFFFF;
  font: 13px/15px Verdana,Arial,Helvetica,sans-serif; 
}

img
{
  border: none; 
}

a
{
  text-decoration: none;
  color: bla;
}

#header 
{
  height: 70px;
  text-align: center;
  background: #000000c2;
  color: #ffffff;
}

#header h1
{
  padding: 1em;
}

footer 
{
  padding: 10px;
  font-size: 20px;
  text-align: center; 
  background: #000000c2;
  color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  border: 1px solid #dadce0;
  -webkit-border-radius: 8px;
  border-radius: 8px;

}

.box h2, .temp {
  margin: 0px 0 -0.125rem;
  padding: 0;
  color: #fff;
  text-align: center;
  color: #202124;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.box p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.5;
  margin-bottom: 25px;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 93%;
  padding: 0.625rem 10px;
  font-size: 1rem;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 4px;
  
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 10px;
  color: #1a73e8;
  font-size: 0.75rem;
  background-color: white;
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.box .inputBox input:focus {
  outline: none;
  border: 2px solid #1a73e8;
}
.box button[type="submit"] {
  border: 2px solid #1a73e8;
  outline: none;
  color: #1a73e8;
  background-color: white;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
  float: right;
  margin: 10px;
}

.box button[type="submit"]:hover {
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45), 0 1px 3px 1px rgba(66,133,244,0.3);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
} 
